*{
    box-sizing: border-box;
    margin:0px;
    font-family: 'Times New Roman', Times, serif;

}
.header {
    background-image: url("resources/bg1.png");
    height: 790px;
    background-size: cover;
}

nav {
    
    display: flex;
    padding: 0px 50px;
    position: fixed; /* add position fixed */
    top: 0; /* add top 0 */
    width: 100%; /* add width 100% */
    transition: background-color 0.5s; /* add transition for background color */
    /* set initial background color */
    
}

nav.sticky {
    background-color: #aa7147; /* add background color for sticky navigation */

}

nav .logo {
    display: block;
    margin-top: 5px;
}

nav .logo img {
    height: 85px;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
    margin-top: 30px;
}

.header nav ul li a {
    font-size: 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
}

  

.header h2{
    font-size: 75px;
    margin: 0px 100px;
    padding-top: 300px;
    color: white;
    font-weight: 500;
}
.header p{
    width: 40%;
    font-size: 25px;
    margin: 20px 90px;
    font-weight: 50;
    text-align: justify;
}


.main{
    background-color: #EDE0D4;
    height: 790px;
}
.side-pic {
    float: right;
    height: 120px;
    width: 120px;

}

.side-pic img {
    height: 120px;
    width: 100%;
}


/* Section 4*/

.section_4 h1{
    display: flex;
    text-align: center;
    padding-top: 100px;
    font-size: 60px;
    justify-content: center;
    padding-left: 50px;


}
.specialist_1-img{
    width: 30%;
    padding-top: 50px;
}

.specialist_1-img img{
    width: auto;
    height: 500px;
    border: #BF9C64 solid 5px;
    border-radius: 25px;
    margin-left: 60px;

}
 .content{
    width: 70%;
    float: right;
    padding: 80px;
 }

 .content h2{
    font-size: 40px;
    padding-top: 25px;
 }

 .content h3{
    font-size: 28px;
    padding-top: 20px;
 }

 .content p{
    font-size: 25px;
    padding-top: 40px;
    text-align: justify;
 }

.content button{
    display: flex;
    padding: 15px 20px;
    background-color: rgb(194, 120, 60);
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 300px;
    margin-top: 50px;
}

.content button:hover {
    background-color: rgb(100, 54, 16);
 
}


